.form1{
    left: 400px;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 600px;
    height: 150px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.d-flex{
    margin-top: 30px;
    width: 50%;
    position: relative;
    left: 370px;
}
img {
    
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    right: 240px;
    margin-top: 0px;
  
   
  }
  .main1 {
    padding: 16px;
    margin-top: 40px;
    height: 1500px; 
  }